.page {
    padding: 40px;

    @media (max-width:800px) {
        padding: 20px;
    }

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}