.page {
    padding: 40px;


    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width:800px) {
        padding: 20px;
    }
}

.titleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.createTest {
    @media (max-width:600px) {
        display: none;
    }
}